# 1ST_GEN_REMIX layout for the 360x240 RG34XXSP runtime.
wps: /.rockbox/wps/1ST_GEN_REMIX.wps
sbs: /.rockbox/wps/1ST_GEN_REMIX.sbs
selector type: bar (inverse)
font: /.rockbox/fonts/24-TrimpodUI.fnt
backdrop: -
background color: 637D8C
foreground color: 181C18
statusbar: off
scrollbar: off
iconset: /.rockbox/icons/1ST_GEN_REMIX_icons.bmp
viewers iconset: /.rockbox/icons/1ST_GEN_REMIX_viewers.bmp
show icons: off
filetype colours: -

